.fakeimg {
height: 200px;
background: #aaa;
}

#varitausta {
background-image: url("revontuli.jpg");
background-size: cover;
background-color: rgb(165, 96, 211);
color: white;
padding: 80px 40px;
}

#kuvaus {
    padding-top:40px;
    padding-left: 40px;
}

#vastaus3 {
    padding-left: 40px;
}

#merckuva {
    max-width: 500px;
}

#kuukuva {
    max-width: 600px;
}

.responsive {
    width: 100%;
    height: auto;
}

a:link {
    color: white;
    text-decoration: none;
    cursor: auto;
}