.fakeimg {
height: 200px;
background: #aaa;
}

#varitausta {
background-image: url("revontuli.jpg");
background-size: cover;
background-color: rgb(165, 96, 211);
color: white;
text-align: center;
padding: 100px 40px;
}